.lose__container {
    height: 100.4vh;
    width: 100%;
    background: rgba(129, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    padding: 4vh 8%;
  }
  
  .lose__star--container {
    position: relative;
  }
  
  .lose__star {
    margin: 0 auto;
    display: block;
  }
  
  .lose__star--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .lose__score--container {
    background-color: white;
    border: solid 10px;
    border-radius: 10px;
    padding: 35px 30px;
    margin: 5vh auto 5vh auto;
    max-width: 400px;
    min-width: 260px;
  }
  